@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.App {
  height: 100vh;
  overflow-y: hidden;
}

.Main-text {
  font-family: 'Archivo Black', sans-serif;
  font-size: 64px;
  line-height: 70px;

  color: #744A96;
}

.App-header {
  min-height: 100vh;
  background-color: #BF8BDF;
  width: 2800px;
  padding-left: min(20vw, 150px);
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.Greeting {
  /* HI, I’M CHLOE AND I MAKE THINGS */
  width: 300px;
  margin-right: 200px;

  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.White {
  color: white;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.End {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 630px;

  margin-left: 120px;
}

.Links {
  width: 450px;
  text-align: right;
}

.Link {
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  color: white;
}