@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.App-header {
  background-color: #BF8BDF;
  min-height: 100vh;
  padding-left: min(20vw, 150px);
  display: flex;
  flex-direction: row;
  align-items: center;
  /* justify-content: center; */
}

.Greeting {
  /* HI, I’M CHLOE AND I MAKE THINGS */
  width: 300px;

  font-family: 'Archivo Black', sans-serif;
  font-size: 64px;
  line-height: 70px;

  color: #744A96;

  animation: 1s ease-out 0s 1 slideInFromLeft;
}

.White {
  color: white;
}

@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}