.Card {
  position: relative;
  min-width: 320px;
  min-height: 442px;
  margin: 0px 40px;
}

@media screen and (min-height: 800px) {
  .top {
    margin-bottom: 179px;
    animation: 1s ease-out 0s 1 slideInFromBottom;
  }
  .bottom {
    margin-top: 179px;
    animation: 1s ease-out 0s 1 slideInFromTop;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

.Card-rectangle {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 0%;
  bottom: 0%;

  background: #FFFFFF;
  box-shadow: 15px 15px 20px rgba(0, 0, 0, 0.2);
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.Card-title {
  margin-top: 15%;
  width: 90%;

  font-family: 'Archivo Black', sans-serif;
  font-size: 24px;
  line-height: 26px;
  text-align: center;

  color: #744A96;
}

.Card-tags {
  margin-top: 5px;

  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 22px;
  text-align: center;

  color: #BF9FDF;
}

.Card-image {
  width: 85%;
  height: 60%;
  margin-top: auto;
  margin-bottom: 7.5%;

  background-size: cover;
  border-radius: 20px;
  box-shadow: inset 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
}